[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-cache = "*"
flask-oauthlib = "*"
flask-sqlalchemy = "*"
flask-login = "*"
redis = "*"
mysqlclient = "*"
python-slugify = "*"
werkzeug = "*"
sqlalchemy = "*"
pillow-simd = "*"
flask-limiter = "*"


[dev-packages]



[requires]

python_version = "3.6"
