[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-Cache = "*"
Flask-OAuthlib = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
redis = "*"
mysqlclient = "*"
python-slugify = "*"
Werkzeug = "*"
SQLAlchemy = "*"
Pillow-SIMD = "*"


[dev-packages]



[requires]

python_version = "3.6"
