<!DOCTYPE html>
<html>
  <head>
    {% if title %}
      <title>{{ title }} - extranet</title>
    {% else %}
      <title>extranet</title>
    {% endif %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" type="text/css">
  </head>
  <body>
    {% block content %}{% endblock %}
    <hr>
    <p><small>This is an early development product. Don't blame me for the design/bugs</small></p>
    <script src="{{ url_for('static', filename='js/common.js') }}" type="text/javascript"></script>
  </body>
</html>