{% extends "base.html" %}
{% block content %}
<h1>Extranet</h1>
<p>Connect external services to your Epitech account.</p>
{% if current_user.is_authenticated %}
<hr>
<strong>Hi {{ current_user.firstname }} {{ current_user.lastname }}! [{{ current_user.uuid }}]</strong><br>
<a href="{{ url_for('auth.refresh') }}">Confirm session (delete session login before)</a><br>
<a href="{{ url_for('auth.logout') }}">Logout</a><br>
{% else %}
<a href="{{ url_for('auth.login', next='/') }}">Login</a>
{% endif %}
<hr>
<p>Get access to many external services, like EpiSchedule or EpiLeaderboards, easily with just one click.</p>
<p>You can manage services connected to your account and review the data they have access to.</p>
<p>This is more secure than sharing a password or a autologin token to a website you don't trust.</p>
<hr>
<p>This a proof of concept, API is limited, features are in development</p>
{% endblock %}